doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/material.min.css')
    script(src='/javascripts/material.min.js')
    script(src='/javascripts/jquery-2.1.4.min.js')
    script(src='/javascripts/main.js')
    link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
  body
    block content
